<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="/site.css">
  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
  <div class="site-wrap">
    <header>
      <nav class="site-nav">
        <a href="/" class="site-nav__home">{{ config.title }}</a>
        <a href="/blog">Blog</a>
        <a href="/cv">CV</a>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer class="site-footer"></footer>
  </div>
</body>
</html>
