{% extends "base.html" %}

{% block title %}{{ page.title }} &#8212; {{ config.title }}{% endblock title %}

{% block content %}
<center>
  <h1>{{ page.title }}</h1>
  <font size="2" color="#555555">Posted: <b>{{ page.date }}</b></font>
</center>

<hr size="4" color="#800000" width="100%">

{{ page.content | safe }}

<hr size="2">

<table width="100%" border="0">
  <tr>
    <td><a href="/blog">&#8592; Back to Blog</a></td>
    <td align="right"><a href="/">Home</a></td>
  </tr>
</table>
{% endblock content %}
